<% provide :title, 'Registration' %>

<h1>Register for Microtwit</h1>
<div>
  <div>
    <%= simple_form_for @user do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, 'Create account' %>
    <% end %>
  </div>
</div>